.news_card_flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 120px;
}

.news_cards_p {
    position: relative;
}

.news_cards_p::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--main-color-yellow);
    position: absolute;
    top: 46px;
    left: 30px;
    border-radius: 50%;
}

.news_card_date {
    position: absolute;
    top: 40px;
    left: 50px;
    color: #fff;
    font-size: 20px;
}

.news_db {
    margin-top: 260px;
}