:root {
  --main-color-white: #FFFFFF;
  --main-color-black: #262524;
  --main-color-yellow: #FAB448;
  --main-color-yellow-d: #fab3488f;
  --main-color-grey: #F4F4F4;
}

body, * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1550px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
